<div class="questionInput">
  <label for="questionInput"></label>
  <input [(ngModel)]="content" type="text" for="questionInput">
  <div class="btn btn-primary"(click)="addQuestion(content)">Ask a question</div>
</div>
<div class="questions">
  <ul>
    <li *ngFor="let question of this.questions; let i = index">
      <p><span class="votes">{{ question.votes }}</span><a class="question" [routerLink]='["/questions", i + 1]'>{{ question.text }}</a></p>
      <p>Asked By: {{ question.askedBy }} at {{ question.askedAt }}</p>
      <div class="btn btn-primary" (click)="upvoteQuestion(i +1)">+</div>
      <div class="btn btn-primary" (click)="downvoteQuestion(i +1)">-</div>
    </li>
  </ul>
</div>

<div>
</div>

