<h1>StackUnderflow</h1>
<div class="questionInput">
  <label for="underflowInput"></label>
  <input [(ngModel)]="content" type="text" for="questionInput" class="underflowInput">
  <div class="btn btn-primary"(click)="addQuestion(content)">Ask a question</div>
</div>
<div class="questions">
  <ul class="list">
    <li *ngFor="let question of this.questions; let i = index">
      <p><span class="votes">{{ question.votes }}</span><a class="question" [routerLink]='["/questions", question.id]'>{{ question.text }}</a></p>
      <p>Asked By: {{ question.askedBy }} at {{ question.askedAt }}</p>
      <div class="btn btn-primary" (click)="upvoteQuestion(question.id)">+</div>
      <div class="btn btn-primary" (click)="downvoteQuestion(question.id)">-</div>
    </li>
  </ul>
</div>

<div>
</div>

